<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <appSettings>
    <add key="FTPpassword" value="traffic"></add>
    <add key="FTPusername" value="imloader"></add>
    <add key="server_url" value="dev.traffic-camera.com"></add>
    <add key="RoiMaskPath" value="config\ROIMask.png"></add>
  	<add key="RegionConfig" value="config\regionConfig.xml"></add>
    <add key="FRAME_UPLOAD_INTERVAL_MINUTES" value="5"></add>
    <add key="FrameWidth" value="640.0"></add>
    <add key="FrameHeight" value="480.0"></add>
    <add key="ClassifierSubframeWidth" value="30"></add>
    <add key="ClassifierSubframeHeight" value="30"></add>
    <add key="VelocityFieldResolution" value="50"></add>
    <add key="MoGUpdateDownsampling" value="50"></add>
    <add key="state_upload_interval_ms" value="2000"></add>
    <add key="IntersectionId" value="1"></add>
    <add key="ClientSettingsProvider.ServiceUri" value=""></add>
    <add key="Alpha" value="0.001"></add>
    <add key="PerCarMinimum" value="0.5"></add>
    <add key="ColorThreshold" value="10"></add>
    <add key="PruningRatio" value="0.001"></add>
    <add key="Q_position" value="200"></add>
    <add key="Q_color" value="20"></add>
    <add key="R_position" value="5"></add>
    <add key="R_color" value="50"></add>
    <add key="VehicleInitialCovX" value="2"></add>
    <add key="VehicleInitialCovVX" value="300"></add>
    <add key="VehicleInitialCovY" value="2"></add>
    <add key="VehicleInitialCovVY" value="300"></add>
    <add key="VehicleInitialCovR" value="50"></add>
    <add key="VehicleInitialCovG" value="50"></add>
    <add key="VehicleInitialCovB" value="50"></add>
    <add key="CompensationGain" value="30"></add>
    <add key="Timestep" value="0.033"></add>
    <add key="MaxObjCount" value="25"></add>    
    <add key="CarRadius" value="5"></add>
    <add key="MinObjectSize" value="50"></add>
    <add key="PerCarMin" value="1000"></add>
    <add key="NoiseMass" value="0.0"></add>
    <add key="MissThreshold" value="30"></add>
    <add key="MaxHypTreeDepth" value="2"></add>
    <add key="MaxTargets" value="25"></add>
    <add key="KHypotheses" value="2"></add>
    <add key="ValRegDeviation" value="10"></add>
    <add key="LambdaX" value="20"></add>
    <add key="LambdaF" value="0.0000004"></add>
    <add key="LambdaN" value="0.0000005"></add>
    <add key="Pd" value="0.8"></add>
    <add key="Px" value="0.0001"></add>
    <add key="class_Car" value=""></add>
    <add key="class_Bus" value=""></add>
    <add key="class_Pedestrian" value=""></add>
    <add key="class_TrafficLight" value=""></add>
    <add key="class_Other" value=""></add>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="textWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\TrafficCounter\VTClog.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>